.edit-profile-wrapper{
	display: flex;
}
.profile-right{
	flex:10;
}
.profile-cover{
	height:320px;
	position:relative;
}
.profile-cover-img{
	width:100%;
	height: 250px;
	object-fit: cover;
}
.profile-user-img{
	position:absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	left:0;
	right:0;
	object-fit: cover;
	margin: auto;
	top:150px;
	border:3px solid #fff;
}
.profile-info{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.profile-info-name{
	font-size: 24px;
}
.profile-info-desc{
	font-weight: 300;
}
.edit-profile-right-bottom{
	display: flex;
	flex-direction: column;
}
.top{
	-webkit-box-shadow:2px 4px 10px 1px rgba(0,0,0,0.47);
	box-shadow:2px 4px 10px 1px rgba(201,201,201,0.47);
	margin: 20px;
	padding: 10px;
	display: flex;
}
h1{
	color: #555;
    font-size: 20px;
}
.bottom{
	-webkit-box-shadow:2px 4px 10px 1px rgba(0,0,0,0.47);
	box-shadow:2px 4px 10px 1px rgba(201,201,201,0.47);
	margin: 20px;
	padding: 10px;
	display: flex;
}
.left{
	flex:1;
}
.left img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 40px 0 40px 40px;
}
.right{
	flex:2;
}
.right form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form-input{
	width: 70%;
	margin-top: 10px;
}
.form-input label{
	display: flex;
	align-items: center;
	gap:5px;
}
.icon{
	cursor: pointer;
}
input{
	width: 100%;
	font-size: 18px;
	padding: 5px;
	border:none;
	text-transform: capitalize;
	background-color: transparent;
	border-bottom: 1px solid #444;
	outline:none;
}
.update-btn{
	width: 150px;
	padding: 10px;
	background-color: #011631;
	color: #fff;
	border:none;
	font-weight: bold;
	margin-top: 20px;
	border-radius: 5px;
	cursor: pointer;
}

/* Responsiveness*/
@media only screen and (max-width:768px){
	.left img{
		width: 150px;
		height: 150px;
		border-radius:50%;
	}
	.right{
		flex:2;
	}
	.form-input{
		width: 90%;
	}
}
@media only screen and (max-width:576px){
	.left img{
		width: 100px;
		height: 100px;
		border-radius:50%;
	}
	.form-input{
		width: 90%;
	}
}