.rightbar-friend{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor:pointer;
}
.rightbar-profile-img-container{
  margin-right: 10px;
  position: relative;
}
.rightbar-profile-img{
  width: 40px;
  height: 40px;
  border-radius:50%;
  object-fit: cover;
}
.rightbar-online{
  position: absolute;
  background-color: limegreen;
  width:15px;
  height:15px;
  border-radius: 50%;
  top:-6px;
  right:-10px;
  border:2px solid #fff;
}
.rightbar-username{
  font-weight: 500;
  color:#333;
}